<div data-content-type="row" data-appearance="contained" data-element="main"><div data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="inner" style="justify-content: flex-start; display: flex; flex-direction: column; background-position: left top; background-size: cover; background-repeat: no-repeat; background-attachment: scroll; border-style: none; border-width: 1px; border-radius: 0px; margin: 0px 0px 10px; padding: 10px;"><div data-content-type="text" data-appearance="default" data-element="main" style="border-style: none; border-width: 1px; border-radius: 0px; margin: 0px; padding: 0px;"><h5>Buy Online, Pick Up Store</h5>
    <p>Only one store can be selected as a preferred store for Buy Online, Pick up in Store.</p>
    <p>If you have any question, please contact <a href="#" target="_blank" rel="noopener">Customer Service</a>. Order before 4PM for items same day in-store pickup.</p></div></div></div>
