<div class="social-links-holder" data-content-type="row" data-appearance="full-width" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" style="justify-content: flex-start; display: flex; flex-direction: column; background-position: left top; background-size: cover; background-repeat: no-repeat; background-attachment: scroll; border-style: none; border-width: 1px; border-radius: 0px; margin: 0px 0px 10px; padding: 0px;"><div class="row-full-width-inner" data-element="inner"><div data-content-type="html" data-appearance="default" data-element="main" style="border-style: none; border-width: 1px; border-radius: 0px; margin: 0px; padding: 0px;">&lt;div class="title"&gt;&lt;strong&gt;تواصل معنا عبر شبكات التواصل الاجتماعي:&lt;/strong&gt;&lt;/div&gt;
    &lt;ul class="social-links"&gt;
    &lt;li&gt;&lt;a class="ico-inst" href="http://instagram.com/diesel" target="_blank"&gt;instagram&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="ico-fb" href="https://www.facebook.com/Diesel" target="_blank"&gt;facebook&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="ico-twitter" href="https://twitter.com/diesel" target="_blank"&gt;twitter&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="ico-youtube" href="https://www.youtube.com/user/DieselPlanet" target="_blank"&gt;youtube&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;</div></div></div>
