<div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" style="justify-content: flex-start; display: flex; flex-direction: column; background-position: left top; background-size: cover; background-repeat: no-repeat; background-attachment: scroll; border-style: none; border-width: 1px; border-radius: 0px; margin: 0px; padding: 0px;"><div data-content-type="html" data-appearance="default" data-element="main" style="border-style: none; border-width: 1px; border-radius: 0px; margin: 0px; padding: 0px;">&lt;ul class="footer-links-collapsible"&gt;
    &lt;li class="parent"&gt;
    &lt;a href="#"&gt;مساعدة&lt;/a&gt;
    &lt;ul class="submenu"&gt;
    &lt;li&gt;&lt;a href="#"&gt;Order Status&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Delivery&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Returns&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Size Conversion&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Send us a message&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Contact us&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;View all&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class="parent"&gt;
    &lt;a href="#"&gt;البنود و الظروف&lt;/a&gt;
    &lt;ul class="submenu"&gt;
    &lt;li&gt;&lt;a href="#"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Cookie Policy&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Information on Personal data&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Terms of sale&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Terms of Use&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Return policy&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class="parent"&gt;
    &lt;a href="#"&gt;عالم DIESEL&lt;/a&gt;
    &lt;ul class="submenu"&gt;
    &lt;li&gt;&lt;a href="#"&gt;About Diesel&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;D:CODE Program&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;For Responsible Living&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Work with us&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Only the Brave Foundation&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class="parent"&gt;
    &lt;a href="#"&gt;شركة&lt;/a&gt;
    &lt;ul class="submenu"&gt;
    &lt;li&gt;&lt;a href="#"&gt;For Responsible Living&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Code of Ethics&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Organisation, Management, and Control Model&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Other Corporate information&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;UK Gender Pay Gap&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Diesel is part of OTB&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;
    &lt;a href="{{store url=""}}/stores.html"&gt;فروعنا&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="parent"&gt;
    &lt;a href="#"&gt;اللغة / الشحن إلى&lt;/a&gt;
    &lt;ul class="submenu"&gt;
    &lt;li&gt;&lt;a href="#"&gt;English&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;/li&gt;
    &lt;/ul&gt;
</div></div>
